{%- assign seo_title = page.title | default: site.title -%}
{%- assign seo_desc = page.description | default: site.description -%}
{%- assign seo_image = page.image | default: site.social_image -%}

<!-- Open Graph -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{ seo_title | escape }}">
<meta property="og:description" content="{{ seo_desc | strip_html | truncate: 200 | escape }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">

{% if seo_image %}
<meta property="og:image" content="{{ seo_image | absolute_url }}">
<meta name="twitter:image" content="{{ seo_image | absolute_url }}">
{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
